

  h1 {
    text-align: center;
    width: auto;
    height: auto;
    font-size: 1.2em;
    vertical-align: middle;
    z-index: 5;
    color: white;
  }

  body
{
    margin: 0;
    padding: 0;
}

table td{
    padding: 20px;
    border: 1px solid black;
}

table{
    margin: auto;
    margin-top: 10%;
}

.SabreRouge{
  background-image: url('./images/SabreRouge.png');
  background-size: 100% 100%;
}
.SabreBleu{
  background-image: url('./images/SabreBleu.png');
  background-size: 100% 100%;
}

.Blaster{
  background-image: url('./images/Blaster.png');
  background-size: 100% 100%;
}

.Eclair{
  background-image: url('./images/Eclair.png');
  background-size: 100% 100%;
}

.R2d2{
  background-image: url('./images/R2d2.png');
  background-size: 100% 100%;
}

.SoldatClone{
  background-image: url('./images/SoldatClone.png');
  background-size: 100% 100%;
}

.joueur1{
  background-image: url('./images/perso1_luke.png');
  background-size: 100% 100%;
}

.joueur2{
  background-image: url('./images/perso2_vador.png');
  background-size: 100% 100%;
}
